argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
asttokens==3.0.1
cffi==2.0.0
click==8.3.3
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
debugpy==1.8.20
decorator==5.2.1
Django==6.0.5
django-cors-headers==4.7.0
django-environ==0.13.0
django-ratelimit==4.1.0
executing==2.2.1
fonttools==4.63.0
gunicorn==26.0.0
imbalanced-learn==0.14.1
imblearn==0.0
ipykernel==7.2.0
ipython==9.13.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
joblib==1.5.3
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.5.0
lxml==6.1.0
matplotlib==3.10.9
matplotlib-inline==0.2.2
nest-asyncio==1.6.0
nltk==3.9.4
numpy==2.4.5
packaging==26.2
pandas==3.0.3
parso==0.8.7
patsy==1.0.2
pillow==11.3.0
platformdirs==4.9.6
polar==0.0.127
polars==1.40.1
polars-runtime-32==1.40.1
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg==3.2.12
psycopg-binary==3.2.12
pure_eval==0.2.3
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-pptx==1.0.2
pyzmq==27.1.0
regex==2026.5.9
scikit-learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
sklearn-compat==0.1.5
sqlparse==0.5.5
stack-data==0.6.3
statsmodels==0.14.6
threadpoolctl==3.6.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.15.0
typing_extensions==4.15.0
tzdata==2026.2
uv==0.11.14
wcwidth==0.7.0
whitenoise==6.12.0
xlsxwriter==3.2.9
